/*typography*/

body {
    font-family: ‘Helvetica’, ‘Arial’, sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
    }

 nav a  {
    color: #cdcdcd;
    text-decoration: none;
    font-size: 18pt;
    }
#splash {
    font-family: 'Teko', sans-serif;
    font-size: 72pt;
    color: #000000;
    }
      
header{
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 20px;
    position:fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    }

h1 {
    color: #000000;
    font-size: 72pt;
    line-height: 18pt;
    font-family: 'Teko', sans-serif;
    }
h2{            
    line-height: 18pt;
    color: #000000;
    }

footer{
    line-height: 18pt;
    font-size: 10pt;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 50px;
    text-align: center;
    }
    
aside {
    line-height: 22pt;
    font-size: 14pt;
    }

#container{
    background-color: #cdcdcd;
    margin-left:auto;
    margin-right:auto;
    margin: auto;
    width: 1250px;
    padding-top: 184px;
    }

            /* Box Model */

#splash{
    background-size: cover;
    background-image: url(heading.jpg);
    height: 400px;
    }

#foodarticles{
    padding-left: 40px;
    margin-top: 50px;
    }

article{
    margin-bottom: 150px;
    }

            /* === Layout === */

main{
    display: grid;
    grid-template-columns: 75% 25%;
    }

#splash {
    grid-column-start:1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.floatleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 25px;         
    }

aside{
    margin-left: 90px;
    padding-top: 51px;
    }

#book{
    background-color: #ff0000;
    color: #000000;
    padding: 15px; 
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 27%;
    }

